*{
    margin:0px;
    padding:0px;
}
nav{
    background-color: black;
    color:white;
    padding:15px;
}
.logo,ul,li{
    display:inline-block;
}
ul{
 
    margin-left:50%;
}
li{
    padding-left: 30px;
    font-size: 17px;
}
.services{
    background-color:darksalmon;
    height:450px; 
}
.services-info{
    font-size: 18px;   
    margin-top: 5px;
}
.services{
    background-color:darksalmon;
    height:470px;  
}
.services-info{
    font-size: 18px;   
}
.box{
display:inline-block;
background-color: white;
height:300px;
width:300px;
margin-left:8px;
margin-top:10px;
border-radius:12px;
overflow:auto;
}
.services-title{
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
.services-para{
    margin-top:20px ;
    color:green;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    padding-left: 5px;
    line-height:35px ;
    }
    .services-logo{
        display:block;
        margin-left: auto;
        margin-right: auto;
        border-radius:12px;
        overflow:auto;
    }

.services-title{
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
.services-para{
    margin-top:20px ;
    color:green;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    padding-left: 5px;
    line-height:35px ;
    }
    .services-logo{
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
    .footer{
        background-color: black;
        color:white;
        height: 225px;
    }
    .footer-title{
        text-align: center;
        padding-top: 10px;
    }
    .footer-desc {
        display: block;
        padding-top: 10px;
        padding: 8px;
        padding-right: 60px;
        margin-left: 514px;
        margin-top: 13px;
    }
    .footer-button {
        margin-left: 591px;
        margin-top: 10px;
        padding: 6px;
        background-color: lightsteelblue;
    }
    .copyrights{
        text-align: center;
        margin-top: 18px; 
    }